
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,td,th,tr, 
form,input,textarea,p,blockquote,th,td { 
    padding: 0; 
    margin: 0; 
} 
html{
        font-size: 20px;
}
body{
    font-size: 1rem;
    font-family:"SimHei","Microsoft Yahei","Arial";
    color:#666;
    background: #eeedec;
}
table { 
    border-collapse: collapse; 
    border-spacing: 0; 
} 
td{
    text-align: center;
}
img,input{ 
    border: 0; 
} 
input{
    font-family:"SimHei","Microsoft Yahei","Arial";
}
address,caption,cite,code,dfn,em,strong,th,var { 
    font-weight: normal; 
    font-style: normal; 
} 
ol,ul { 
    list-style: none; 
} 
h1,h2,h3,h4,h5,h6 { 
    font-weight: normal; 
}
img{
    display: block;
}
a{
     font-family:"SimHei","Microsoft Yahei","Arial";
    text-decoration: none;
    color:#333;
}
.clearfix:after{
    content:"";
    display: block;
    clear:both;
}
